.row.augur-performance
  .columns.small-12
    .heading
      %h1 Performance drift (Evaluation)
      %h6.subheader Changes in the evaluation data runs over the last 30 days
    .chart
      %d3-performance-chart{ data: 'data', mode: 'evaluation' }
