.row.augur-decision-tree
  .columns.small-2.element-path
    .heading{ ng: { show: 'treePathElements' }}
      %h4 Prediction Path

    %dl
      %dt{ ng: { repeat: { start: 'pathElement in treePathElements track by $index' } } }
        {{ pathElement.operation }}
      %dd{ ng: { repeat: { end: '' } } }
        %span{ ng: { class: 'pathElement.type' }}
          {{ pathElement.label }}

  .columns.small-10.tree
    %d3-decision-tree-chart{ data: 'data', 'tree-path-elements' => 'treePathElements' }
