.row.augur-performance
  .columns.small-12
    %ul.small-block-grid-2.medium-block-grid-3
      %li
        .th
          %a{ href: '' }
            %h3.title Lift
            .chart

      %li
        .th
          %a{ href: '' }
            %h3.title Response
            .chart

      %li
        .th
          %a{ href: '' }
            %h3.title Cumulative Response
            .chart
