.row.augur.action-bar{ ng: { attr: { data: { theme: '{{ habitat.colorScheme }}' } } }}
  .small-12.columns
    .row
      .small-11.columns
        .row
          .small-3.columns.habitat-name
            {{augur.name}}
          .small-4.columns.info
            %dl
              %dt Type
              %dd Decision Tree
              %dt KPI
              %dd
                {{ augur.learningKpiLabel }}
              %dt Threshold
              %dd
                {{ augur.learningThresholdLabel }}
          .small-5.columns.actions
            %ul.no-bullet
              %li.action
                %a.action-button
                  %span.calculate
                    %i.icon.icon-calculator
                  Calculate new prediction
              %li.action
                %a.action-button
                  %span.download
                    %i.icon.icon-download
                  Download latest prediction
      .small-1.columns.back
        %a{ ui: { sref: 'dashboard' } }
          %span.download
            %i.icon.icon-exit

.row.augur.container
  .side-nav-container
    %ul.side-nav
      %li{ ui: { sref: { active: 'active' } } }
        %a{ ui: { sref: 'augur.tree' } }
          %span.model-viewer
            %i.icon.icon-decisiontree
          %br
          Model Viewer
      %li{ ui: { sref: { active: 'active' } } }
        %a{ ui: { sref: 'augur.influencers' } }
          %span.influencer
            %i.icon.icon-influencer
          %br
          Influencers
      %li{ ui: { sref: { active: 'active' } } }
        %a{ ui: { sref: 'augur.accuracy' } }
          %span.accuracy
            %i.icon.icon-target
          %br
          Accuracy
      %li{ ui: { sref: { active: 'active' } } }
        %a{ ui: { sref: 'augur.performance' }, style: 'display:none;', fyi: 'only to get sref-active working' }

        %a{ ng: { click: 'activatePerformanceState()' } }
          %span.performance-drift
            %i.icon.icon-drift
          %div.label-main
            Performance drift

        .side-nav-sub
          %ul.no-bullet.inline-list
            %li.first{ ui: { sref: { active: 'active' } } }
              %a{ ui: { sref: 'augur.performance.learning' } }
                %span.performance-drift-learning
                  %i.icon.icon-gamepad
            %li{ ui: { sref: { active: 'active' } } }
              %a{ ui: { sref: 'augur.performance.evaluation' } }
                %span.performance-drift-evaluation
                  %i.icon.icon-suitcase

          %div.label-sub
            Performance drift

      %li{ ui: { sref: { active: 'active' } } }
        %a{ ui: { sref: 'augur.settings' } }
          %span.settings
            %icon.icon-settings
          %br
          Settings

  .main
    %div{ ui: { view: '' } }
