.row.augur-accuracy
  .columns.small-12
    %ul.small-block-grid-2.medium-block-grid-3
      %li
        .th
          %a{ href: '' }
            %h6.title Lift
            .chart.line-chart
              %d3-line-chart{ data: 'data.lift', 'reference-line' => 1.0 }

      %li
        .th
          %a{ href: '' }
            %h6.title Response
            .chart.line-chart
              %d3-line-chart{ data: 'data.response', 'reference-line' => 0.5 }

      %li
        .th
          %a{ href: '' }
            %h6.title Cumulative Response
            .chart.line-chart
              %d3-line-chart{ data: 'data.cumulativeResponse', 'reference-line' => 0.5, 'y-scale-min' => 0.4  }

      %li
        .th
          %a{ href: '' }
            %h6.title Captured Response
            .chart.line-chart
              %d3-line-chart{ data: 'data.capturedResponse' }

      %li
        .th
          %a{ href: '' }
            %h6.title Cumulative Captured Response
            .chart.line-chart
              %d3-line-chart{ data: 'data.cumulativeCapturedResponse' }

      %li
        .th
          %a{ href: '' }
            %h6.title ROC Chart
            .chart.roc-chart
              %d3-roc-chart{ data: 'data.rocChart' }

      %li
        .th
          %a{ href: '' }
            %h6.title Classification Matrix
            .chart.pie-chart
              %d3-pie-chart{ data: 'data.classificationMatrix', count: 'count', bucket: 'bucket' }

      %li
        .th
          %a{ href: '' }
            %h6.title Model - Posterior probabilities
            .chart.line-chart
              %d3-line-chart{ data: 'data.modelPosteriorProbabilities' }

      %li
        .th
          %a{ href: '' }
            %h6.title Bayes corrected prior probabilities
            .chart.line-chart
              %d3-line-chart{ data: 'data.bayesCorrectedPriorProbabilities' }

