.row.augur-decision-tree
  .columns.small-2.element-path
    %ul.no-bullet
      %li{ ng: { repeat: 'pathElement in treePathElements track by $index' } }
        %span{ ng: { class: 'pathElement.type' }}
          {{ pathElement.label }}

  .columns.small-10
    %d3-decision-tree-chart{ data: 'data', 'tree-path-elements' => 'treePathElements' }
