.row.augur.action-bar{ ng: { attr: { data: { theme: '{{ habitat.colorScheme }}' } } }}
  .small-12.columns
    .row
      .small-11.columns
        .row
          .small-3.columns.habitat-name
            {{augur.name}}
          .small-4.columns.info
            %dl
              %dt Type
              %dd Logistical Regression
              %dt KPI
              %dd Accumulated Lift Top 10% (0.4/0.2)
          .small-5.columns.actions
            %ul.no-bullet
              %li.action
                %a.action-button
                  %span.glyphicon.glyphicon-tower
                  Calculate new prediction
              %li.action
                %a.action-button
                  %span.glyphicon.glyphicon-tower
                  Download latest prediction
      .small-1.columns.back
        %a{ ui: { sref: 'dashboard' } }
          %span.glyphicon.glyphicon-log-out

.row.augur.container
  .side-nav-container
    %ul.side-nav
      %li{ ui: { sref: { active: 'active' } } }
        %a{ ui: { sref: 'augur.tree' } }
          %span.glyphicon.glyphicon-th
          %br
          Decision tree
      %li{ ui: { sref: { active: 'active' } } }
        %a{ ui: { sref: 'augur.influencers' } }
          %span.glyphicon.glyphicon-th
          %br
          Influencers
      %li{ ui: { sref: { active: 'active' } } }
        %a{ ui: { sref: 'augur.accuracy' } }
          %span.glyphicon.glyphicon-record
          %br
          Accuracy
      %li{ ui: { sref: { active: 'active' } } }
        %a{ ui: { sref: 'augur.performance' }, style: 'display:none;', fyi: 'only to get sref-active working' }

        %a{ ng: { click: 'activatePerformanceState()' } }
          %span.glyphicon.glyphicon-th
          %div.label-main
            Performance drift

        .side-nav-sub
          %ul.no-bullet.inline-list
            %li.first{ ui: { sref: { active: 'active' } } }
              %a{ ui: { sref: 'augur.performance.learning' } }
                %span.glyphicon.glyphicon-tower
            %li{ ui: { sref: { active: 'active' } } }
              %a{ ui: { sref: 'augur.performance.evaluation' } }
                %span.glyphicon.glyphicon-briefcase

          %div.label-sub
            Performance drift

      %li{ ui: { sref: { active: 'active' } } }
        %a{ ui: { sref: 'augur.settings' } }
          %span.glyphicon.glyphicon-wrench
          %br
          Settings

  .main
    %div{ ui: { view: '' } }
