.row.dashboard.action-bar
  .columns.small-12
    %ul.left.action-bar-breadcrumb
      %li
        Dashboard
    %ul.right.action-bar-filter
      %li.divider
      %li{ ng: { class: '{"active" : selectedArtifactTypes.augur}' } }
        %input{ type: 'checkbox', id: 'selected-artifact-types-augur', ng: { model: 'selectedArtifactTypes.augur'} }
        %label{ for: 'selected-artifact-types-augur' } Augurs
      %li{ ng: { class: '{"active" : selectedArtifactTypes.factTable}' } }
        %input{ type: 'checkbox', id: 'selected-artifact-types-fact-table', ng: { model: 'selectedArtifactTypes.factTable'} }
        %label{ for: 'selected-artifact-types-fact-table' } Event tables
      %li{ ng: { class: '{"active" : selectedArtifactTypes.habitat}' } }
        %input{ type: 'checkbox', id: 'selected-artifact-types-habitat', ng: { model: 'selectedArtifactTypes.habitat'} }
        %label{ for: 'selected-artifact-types-habitat' } DataSpaces
      %li.divider
      %li.action-bar-search
        %input{ placeholder: 'Type to search', type: 'text', ng: { model: 'artifactsQuery' }}

.row.dashboard.flash{ ng: { if: 'flash', animate: 'animate' }}
  .columns.small-12
    .alert-box.success.radius
      {{ flash }}
.row.dashboard.container
  .columns.small-12
    %ul.small-block-grid-2.medium-block-grid-3.large-block-grid-4
      %li
        .tile
          %a{ href: '#/augurs/new' }
            .artefact-body.add-augur
              %p
                Add augur
              %p.icon
                %span.glyphicon.glyphicon-plus

      %li{'ng-repeat' => 'artifact in artifacts | filter: artifactsFilter'}
        %div{ ng: { if: 'artifact.type == "habitat"' } }
          %a{ href: '#/habitat/{{habitat.id}}' }
            .tile.habitat{ ng: { attr: { data: { theme: '{{ artifact.colorScheme }}' }}} }
              %h5.title
                {{ artifact.name }}
                %i.icon.icon-dataspace
              .artefact-body
                %p{ ng: { if: 'artifact.augurCount < 1' } }
                  No Augurs
                %p{ ng: { if: 'artifact.augurCount === 1' } }
                  One Augur
                %p{ ng: { if: 'artifact.augurCount > 1' } }
                  {{ artifact.augurCount }} Augurs

        %div{ ng: { if: 'artifact.type == "factTable"' } }
          %a{ href: '#/habitat/{{artifact.habitatId}}/factTables/{{factTable.id}}' }
            .tile.fact-table{ ng: { attr: { data: { theme: '{{ artifact.colorScheme }}' }} }}
              %h5.title
                {{artifact.name}}
                %span.icon.glyphicon.glyphicon-list-alt
              .artefact-body
                %p.description
                  {{artifact.description}}
                  %br
                  {{artifact.observationCount | number:0 }} Observations


        %div{ ng: { if: 'artifact.type == "augur"' } }
          %a{ ui: { sref: 'augur.{{artifact.augurType}}.home({ habitatId: artifact.habitatId, augurId: artifact.id })' } }
            .tile.augur{ ng: { attr: { data: { theme: '{{ artifact.colorScheme }}' }}} }
              %h5.title
                {{ artifact.name }}
                %span{ spinner: '{ radius: 5, width: 3, length: 4 }', ng: { if: 'artifact.learningStatus === "pending"' } }
                %i.icon.icon-telescope
              .artefact-body
                %dl.description
                  %dt KPI
                  %dd
                    {{ artifact.learningKpiLabel }}
                  %dt Latest evaluation
                  %dd
                    {{ artifact.latestEvaluationTimestamp | date: 'yyyy-MM-dd HH:mm' }}
              .chart
                %d3-line-chart-dashboard{ data: 'artifact.dashboardChartData', height: '30' }

