.row.action-bar
  .columns.small-12
    %ul.left.action-bar-breadcrumb
      %li
        %a{ href: '#' }
          %span.glyphicon.glyphicon-th
          Dashboard
      %li
        %a{ href: '#' }
          %span.glyphicon.glyphicon-picture
          Habitat
    %ul.right.action-bar-filter
      %li.divider
      %li.active
        %a{ href: '#/' } Augurs
      %li
        %a{ href: '#/' } Data sources
      %li
        %a{ href: '#/' } Facts
      %li
        %a{ href: '#/' } Habitats
      %li.divider
      %li.action-bar-search
        %input{ placeholder: 'Type to search', type: 'text'}

.row.container.dashboard
  .columns.small-12
    %ul.small-block-grid-2.medium-block-grid-3.large-block-grid-4
      %li
        .th
          %a{ href: '#/augurs/new' }
            .artefact-body.add-augur
              %p
                Add augur
              %p.plus
                %span.glyphicon.glyphicon-plus



      %li{'ng-repeat' => 'artifact in artifacts'}
        .th
          %a{ href: '#/augurs/{{augur.id}}' }
            .artefact-body
              %p
                %span.glyphicon.glyphicon-eye-open
                {{artifact.name}}
