.row
  .columns.small-12
    %h4='Cluster Landscape'
.row
  .columns.large-12.augur-landscape
    .chart-row
      .large-2.columns.slider-container
        Weakest Links
        %input.slider#link-filter{min:'{{minSliderValue}}',max:'{{maxSliderValue}}',value:'{{maxSliderValue}}',type:'range', orient:'vertical', list:'steps', ng: {model:'data.bondStrength'}}
        Strongest Links
        %datalist#steps
          %option{ng:{repeat:'distance in clusters.Distances'}} {{maxSliderValue - distance[2]}}
      .large-10.columns.chart-container
        %d3-landscape-chart{data:'clusters', bond: {strength:'data.bondStrength'}}
