.augur-decision-tree {
  .element-path {
    text-align: center;
    span {
      display: block;
      padding: .3em .5em;
      font-size: .8em;
    }

    .node {
      @include themes ( background-color );
      color: #fff;
    }

    .leaf {
      color: #fff;
      &.happy {
        background-color: $decision-tree-happy;
      }
      &.sad {
        background-color: $decision-tree-sad;
      }
    }
  }

  .tree-tooltip {
    position: absolute;
    text-align: center;
    padding: .5em;
    border: 0px;
    border-radius: 5px;
    color: #fff;
    pointer-events: none;

    dl {
      @include clearfix();
      margin-bottom: .5em;
      width: 180px;
    }
    dt, dd {
      font-size: 80%;
      float: left;
      margin: -.1em .1em;
    }
    dt {
      clear: both;
      text-align: right;
      width: 50%;
    }
    dt:after {
      content: ':'
    }

    .summary {
      font-size: 80%;
      border-top: 1px solid #fff;
      padding-top: .5em;

      span {
        display: block;
        margin: -.3em 0;
      }
    }
  }

  .tree {
    .link {
      fill: none;
      @include themes ( $light30: stroke );
      stroke-width: 3px;

      &.fat {
        @include themes ( stroke );

        stroke-width: 5px;
      }
    }

    .border {
      fill: none;
      shape-rendering: crispEdges;
      stroke: #aaa;
    }

    text {
      font: 10px sans-serif;
    }

    .node {
      stroke: none;
      @include themes ( $light20: fill );
    }

    .leaf {
      stroke: none;

      &.happy {
        fill: $decision-tree-happy;
      }
      &.sad {
        fill: $decision-tree-sad;
      }
    }
  }
}
