.augur-clustering-profile {
  .count {
    font-size: .8em
  }
}

.chart-container {
  position: relative;
}

.tree-tooltip {
  position: absolute;
  text-align: center;
  padding: .5em;
  border: 0px;
  border-radius: 5px;
  color: #fff;
  pointer-events: none;

  dl {
    @include clearfix();
    margin-bottom: .5em;
    width: 130px;
  }
  dt, dd {
    font-size: 80%;
    float: left;
    margin: .1em .1em;
  }
  dt {
    clear: both;
    text-align: right;
    width: 50%;
  }
  dt:after {
    content: ':'
  }

  .summary {
    font-size: 80%;
    border-top: 1px solid #fff;
    padding-top: .5em;

    span {
      display: block;
      margin: -.3em 0;
    }
  }
}