.augur-accuracy {
  .title {
    color: #000000;
    text-align: center;
  }
  .chart {
    height: 175px;
    width: 260px;

    text {
      font-size: 0.7em;
    }

    .axis {
      shape-rendering: crispEdges;

      &.y path {
        display: none;
      }
    }

    &.line-chart, &.roc-chart {
      path {
        stroke: steelblue;
        stroke-width: 1;
        fill: none;
      }

      path.baseline {
        stroke: red;
        stroke-width: 1;
        fill: none;
      }

      path.helpline {
        stroke: #ddd;
        stroke-width: 1;
        fill: none;
      }
    }

    &.bar-chart {
      .bar {
        fill: steelblue;
      }

      .bar:hover {
        fill: brown;
      }

      .axis path {
        fill: none;
        stroke: #000;
        shape-rendering: crispEdges;
      }

      path.helpline {
        stroke: #ddd;
        stroke-width: 1;
        fill: none;
      }
    }

    &.pie-chart {
      .arc path {
        stroke: #fff;
      }
    }
  }
}
