.augur-performance {

  position: relative;

  .heading {
    .title {
      color: #6418a2;
    }

    .subheader {
      margin-top: -1rem;
    }

    .dropdown {
      display: inline-block;

      .dropdown-trigger {
        display: block;
        padding: 0 .25em;
        border: 1px solid #6418a2;
        border-radius: 3px;
        color: #333;

        > span {
          display: inline-block;
          border-right: 1px solid #6418a2;
          padding-right: inherit;
        }

        &::after {
          content: '';
          display: inline-block;
          vertical-align: middle;
          border: .35em solid transparent;
          border-bottom: 0;
          border-top-color: #6418a2;
          margin-left: .1em;
          margin-right: .2em;
        }

        &.active {
          color: #fff;
          background: #6418a2;
          border-color: #6418a2;
          border-radius: 3px 3px 0 0;

          &::after {
            border-top-color: white;
          }
        }
      }

      .dropdown-content {
        position: absolute;
        margin-top: 0;
        right: .5em;
      }
    }
  }

  .selection {
    position: relative;
    z-index: 1;

    .options {
      background: #fff;
      border: 2px solid #6418a2;
      border-radius: 3px;
      padding: .5rem 0;

      ul {
        padding: 0;
        margin: 0;

        li.right {
          margin-right: 1.375rem;
        }

        .indicators {
          input[type=radio] {
            display: none;
          }

          label {
            font-size: 1rem;
            padding: .1rem;
          }

          li {
            border-bottom: 1px solid #6418a2;
            .glyphicon {
              display: none;
            }

            &.active label {
              background: #E3D6F6;
              margin-right: -1.1rem;

              .glyphicon {
                margin-top: .2rem;
                float: right;
                display: inline;
                color: #6418a2;
                font-weight: bold;
              }
            }
          }

          li:hover, a:focus {
            background-color: #6418a2;
            label {
              color: #fff;
            }
          }

          li:last-child {
            border-bottom: none;
          }
        }
      }
    }
  }

  .chart {
    .bar {
      &.solid {
        @include themes( $dark: fill );
      }
    }

    d3-performance-chart {
      @include themes( $main: border-right-color, $light: border-top-color, $dark: border-bottom-color);
    }

    .y.axis {
      path {
        stroke: #ddd;
        stroke-width: 1;
        fill: none;
      }
    }

    .helpline {
      stroke: #ddd;
      stroke-width: 1;
      fill: none;
    }

    .threshold-line {
      @include themes( $dark: stroke );
      stroke-width: 3;
      fill: none;
    }

    .threshold-label {
      rect {
        @include themes( $dark: stroke );
        stroke-width: 3;
        fill: white;
      }
    }

    .legend {
      @include themes( $dark: stroke );
      stroke-width: 3;
      fill: white;
    }
  }
}
