.augur {
  &.action-bar {
    @include themes(background-color);

    color: #fff;
    line-height: 80px;
    height: 80px;
    overflow: hidden;

    dl, ul {
      margin: 0;
      height: 85px;
    }

    .actions > ul {
      display: table;
      width: 100%;

      > li {
        display: table-cell;
        padding: 10px 5px;
      }
    }

    .habitat-name, .back {
      font-size: $h1-font-size;
    }

    .actions, .info {
      padding-top: .5em;
      background: #fff;
      color: #333;
    }

    .action-button {
      display: block;

      border-radius: 24px;
      line-height: 22px;
      height: 48px;

      color: #666;

      background: #f5f5f5;
      background-image: linear-gradient(180deg, #fff 5%, #f5f5f5, #eee 90%, #ccc);
      border: 1px solid #888;

      .calculate, .download {
        @include themes(color);

        float: left;
        width: 48px;
        text-align: center;
        height: 48px;
        font-size: 30px;
        line-height: 40px;
        margin-top: .2rem;
        margin-left: .2rem;
        margin-right: .2rem;
      }
    }

    .info {
      dt, dd {
        float: left
      }
      dt {
        padding-right: .5em;
        clear: both
      }
    }

    .back {
      text-align: center;
      a {
        color: #fff;
      }
    }
  }

  &.container {
    padding: 0;
    padding-top: .5em;

    .side-nav-container {
      position: absolute;
      width: 7em;

      .side-nav {
        padding: 0;
        margin: 0;
      }

      li {
        text-align: center;
        font-size: 90%;

        .side-nav-sub {
          display: none;
        }
      }

      li.active {
        a {
          color: #000;
        }
        span {
          color: #fff;

          @include themes(background-color);
        }

        .side-nav-sub {
          display: inline-block;
        }

        .label-main {
          display: none;
        }
      }

      a {
        color: #000;

        span {
          display: inline-block;
          border-radius: 50%;
          width: 50px;
          height: 50px;
          line-height: 50px;
          background-color: #fff;
          color: #000;
          text-align: center;
          font-size: 1.5rem;

          position: relative;
          .icon { position: absolute; }

          &.model-viewer .icon {
            right: .4rem;
          }
          &.influencer .icon {
            right: 1rem;
          }
          &.accuracy .icon {
            top: .1rem;
            right: .55rem;
          }
          &.performance-drift .icon {
            right: .7rem;
          }
          &.performance-drift-learning .icon {
            right: .7rem;
            font-size: 1.2rem;
          }
          &.performance-drift-evaluation .icon {
            right: .5rem;
            font-size: 1.2rem;
          }
          &.settings .icon {
            right: 1rem;
          }
        }
      }

      a:hover {
        color: #333;
        span {
          @include themes(background-color);

          color: #fff;
        }

      }

      .side-nav-sub {
        margin-bottom: 0;

        li {
          margin: 0 .2em;

          a {
            padding-bottom: 1px;
          }

          &.first {
            margin-left: .4em;
          }

          span {
            width: 40px;
            height: 40px;
            line-height: 40px;
            background-color: #fff;
            color: #000;
          }

          &.active span {
            color: #fff;
            @include themes(background-color);
          }
        }
      }
    }
    .main {
      padding: .5em;
      margin: .5em;
      margin-top: 0;
      margin-left: 7em;

      border-radius: $global-radius;
      background-color: #fff;
    }
  }
}
