.augur {
  &.action-bar {
    background-color: #6418a2;
    color: #fff;
    line-height: 80px;
    height: 80px;
    overflow: hidden;

    dl, ul {
      margin: 0;
      height: 85px;
    }

    .habitat-name, .back {
      font-size: $h1-font-size;
    }

    .actions, .info {
      line-height: 20px;
      background: #fff;
      color: #333;
    }

    .info {
      dt, dd {
        float: left
      }
      dt {
        clear: both
      }
    }

    .action {
      border-color: #6418a2;
      border-radius: $global-radius;
      background: #ddd;
      margin: .2em 0;
      padding: .2em .5em;
    }

    .back {
      text-align: right;
      a {
        color: #fff;
      }
    }
  }

  &.container {
    padding: 0;
    padding-top: .5em;

    .side-nav-container {
      position: absolute;
      width: 7em;

      .side-nav {
        padding: 0;
        margin: 0;
      }

      li {
        text-align: center;
        font-size: 90%;

        .side-nav-sub {
          display: none;
        }
      }

      li.active {
        a {
          color: #000;
        }
        span {
          color: #fff;
          background-color: #6418a2;
        }

        .side-nav-sub {
          display: inline-block;
        }

        .label-main {
          display: none;
        }
      }

      a {
        color: #000;

        span {
          border-radius: 50%;
          width: 50px;
          height: 50px;
          line-height: 50px;
          background-color: #fff;
          color: #000;
          text-align: center;
          font-weight: bold;
        }
      }

      a:hover {
        color: #333;
        span {
          color: #fff;
          background-color: #6418a2;
        }

      }

      .side-nav-sub {
        margin-bottom: 0;

        li {
          margin: 0 .2em;

          a {
            padding-bottom: 1px;
          }

          &.first {
            margin-left: .4em;
          }

          span {
            width: 40px;
            height: 40px;
            line-height: 40px;
            background-color: #fff;
            color: #000;
          }

          &.active span {
            color: #fff;
            background-color: #6418a2;
          }
        }
      }
    }
    .main {
      padding: .5em;
      margin: .5em;
      margin-top: 0;
      margin-left: 7em;

      border-radius: $global-radius;
      background-color: #fff;
    }
  }
}
