.augur-accuracy {
  .tile {
    .tile-body {
      border: 3px solid #eee;
    }
  }

  .title {
    color: #000000;
    text-align: center;
  }

  .chart {
    d3-line-chart, d3-roc-chart, d3-pie-chart, d3-bar-chart {
      height: 160px;
      width: 100%;
      display: block;
    }

    d3-pie-chart {
      // color scale
      @include themes( border-top-color, $light20: border-left-color );

      border-right-color: #cdcdcd;
      border-bottom-color: #8f8f8f;
    }

    text {
      font-size: 0.7em;
    }

    .axis {
      shape-rendering: crispEdges;

      &.y path {
        display: none;
      }
    }

    &.line-chart, &.roc-chart {
      .area {
        @include themes ( $light50: fill );
        stroke-width: 0;
      }

      path {
        @include themes ( $light10: stroke );
        stroke-width: 1;
        fill: none;
      }

      path.baseline {
        @include themes ( stroke );
        stroke-width: 1;
        fill: none;
      }

      path.helpline {
        stroke: #ddd;
        stroke-width: 1;
        fill: none;
      }
    }

    &.bar-chart {
      .bar {
        @include themes ( $light10: fill );
      }

      .bar:hover {
        @include themes ( fill );
      }

      .axis path {
        fill: none;
        stroke: #000;
        shape-rendering: crispEdges;
      }

      path.helpline {
        stroke: #ddd;
        stroke-width: 1;
        fill: none;
      }

      text.bar-value-label {
        @include themes ( $light10: fill );
        font-size: 1.1rem;
        text-shadow: 1px 0 0 #fff, -1px 0 0 #fff, 0 1px 0 #fff, 0 -1px 0 #fff, 1px 1px #fff, -1px -1px 0 #fff, 1px -1px 0 #fff, -1px 1px 0 #fff;
      }
    }

    &.pie-chart {
      .arc path {
        stroke: #fff;
      }

      .arc {
        text {
          font-size: 1.1rem;
          display: none;
          text-shadow: 1px 0 0 #fff, -1px 0 0 #fff, 0 1px 0 #fff, 0 -1px 0 #fff, 1px 1px #fff, -1px -1px 0 #fff, 1px -1px 0 #fff, -1px 1px 0 #fff;
        }

        &.active text {
          display: block;
        }
      }
    }
  }
}
