.augur-performance {
  position: relative;

  .heading {
    .title {
      color: #6418a2;
    }

    .subheader {
      margin-top: -1rem;
    }
  }

  .selection {
    position: absolute;
    z-index: 1;
    top: 2.2rem;
    right: 0;

    .options {
      background: #fff;
      border: 2px solid #6418a2;
      border-radius: 3px;
      padding: .5rem 0;

      ul {
        padding: 0;
        margin: 0;

        li.right {
          margin-right: 1.375rem;
        }

        .indicators {
          input[type=radio] {
            display: none;
          }

          label {
            font-size: 1rem;
            padding: .1rem;
          }

          li {
            border-bottom: 1px solid #6418a2;
            .glyphicon {
              display: none;
            }

            &.active label {
              background: #E3D6F6;
              margin-right: -1.1rem;

              .glyphicon {
                margin-top: .2rem;
                float: right;
                display: inline;
                color: #6418a2;
                font-weight: bold;
              }
            }
          }

          li:hover, a:focus {
            background-color: #6418a2;
            label {
              color: #fff;
            }
          }

          li:last-child {
            border-bottom: none;
          }
        }
      }
    }
  }

  .chart {
    .bar {
      //    $c-purpleBright: #a8aff1;
      //    .purpleForegroundStop1 { stop-color: adjust-lightness( $c-purpleBright, 17 ); }
      //    .purpleForegroundStop2 { stop-color: adjust-lightness( $c-purpleBright, 8 ); }
      fill: url(#gradientForegroundPurple);
      &.solid {
        fill: #482092;
      }
    }

    .y.axis {
      path {
        stroke: #ddd;
        stroke-width: 1;
        fill: none;
      }
    }

    .helpline {
      stroke: #ddd;
      stroke-width: 1;
      fill: none;
    }

    .threshold-line {
      stroke: #6418a2;
      stroke-width: 3;
      fill: none;
    }

    .threshold-label {
      rect {
        stroke: #6418a2;
        stroke-width: 3;
        fill: white;
      }
    }

    .legend {
      stroke: #6418a2;
      stroke-width: 3;
      fill: white;
    }
  }
}
