.augur {
  &.action-bar {
    margin-top: 2em;
    margin-bottom: .3em;
    color: #333;
    background-color: $crumb-bg;
  }

  &.dotted {
    border: 1px dashed #555555;
    padding: 1px;
  }

  &.container {
    background: #202020;

    .side-nav-container {
      padding-top: .5em;
      min-height: 600px;

      li.active {
        color: #008CBA;
      }

      a {
        color: #ddd;
        font-size: 75%;
        text-align: center;
      }
    }
    .main {
      padding-top: .5em;
      background: #ffffff;
      min-height: 600px;
    }
  }
}
