.augur-landscape {

  position: relative;
  height: 500px;
  #landscape-chart {
    border: 1px solid red;
  }

  d3-landscape-chart {
    @include themes( $main: border-right-color, $light10: border-top-color);
    @include themes( $light20: border-bottom-color, $light30: border-left-color);
    @include themes( $light40: background-color, $light50: outline-color);
    cursor: pointer;
    width: 90%;
    height: 100%;
    display: block;

  }

  .chart-row {
    background: #fff;
    width: 100%;
    height: 100%;
  }

  .slider-container {
    height: 450px;
//    background: #fff;

    .slider {
      -webkit-appearance: slider-vertical;
      orient: vertical;
      height: 100%;
    }
  }

  .node-text {
    font-size: 8pt;
  }

  line.link {
//    stroke: #444;
  }
}

