.augur-performance {

  position: relative;

  .heading {
    .title {
      @include themes( color );
    }

    .subheader {
      margin-top: -.8rem;
    }

    .dropdown {
      display: inline-block;

      .dropdown-trigger {
        @include themes( border-color );

        display: block;
        padding: 0 .25em;
        border: 1px solid;
        border-radius: 3px;
        color: #333;

        > span {
          @include themes( border-color );

          display: inline-block;
          border-right: 1px solid;
          padding-right: inherit;
        }

        &::after {
          @include themes( border-top-color );

          content: '';
          display: inline-block;
          vertical-align: middle;
          border: .35em solid transparent;
          border-bottom: 0;
          margin-top: -.2em;
          margin-left: .2em;
          margin-right: .1em;
        }

        &.active {
          @include themes( background border-color );
          color: #fff;
          border-radius: 3px 3px 0 0;

          &::after {
            border-top-color: white;
          }
        }
      }

      .dropdown-content {
        position: absolute;
        margin-top: 0;
        left: 5.5em;
      }
    }
  }

  .selection {
    position: relative;
    z-index: 1;

    .options {
      @include themes( border-color );
      background: #fff;
      border: 2px solid;
      border-radius: 3px;
      padding: .5rem 0;

      ul {
        padding: 0;
        margin: 0;

        li.right {
          margin-right: 1.375rem;
        }

        .indicators {
          input[type=radio] {
            display: none;
          }

          label {
            font-size: 1rem;
            padding: .1rem;
          }

          li {
            @include themes( border-color );
            border-bottom: 1px solid;
            .glyphicon {
              display: none;
            }

            &.active label {
              background: #E3D6F6;
            }

            &.kpi label {
              margin-right: -1.4rem;
              .glyphicon {
                @include themes( color );
                margin-top: .2rem;
                float: right;
                display: inline;
                font-weight: bold;
              }
            }
          }

          li:hover, a:focus {
            @include themes( background-color );

            label {
              color: #fff;
            }
          }

          li:last-child {
            border-bottom: none;
          }
        }
      }
    }
  }

  .chart {
    height: 600px;

    d3-performance-chart {
      @include themes( $light10: border-right-color, $light50: border-top-color);
      @include themes( $main: border-bottom-color);

      width: 100%;
      height: 100%;
      display: block;
    }

    .bar {
      &.solid {
        @include themes( fill );
      }
    }

    .y.axis {
      path {
        stroke: #ddd;
        stroke-width: 1;
        fill: none;
      }
    }

    .helpline {
      stroke: #ddd;
      stroke-width: 1;
      fill: none;
    }

    .threshold-line {
      @include themes( stroke );
      stroke-width: 3;
      fill: none;
    }

    .threshold-label {
      rect {
        @include themes( stroke );
        stroke-width: 3;
        fill: white;
      }
    }

    .legend {
      @include themes( stroke );

      stroke-width: 3;
      fill: white;
    }
  }
}
