.augur-accuracy {
  .title {
    padding: 0.3em;
    color: #000000;
    background: #00bfff;
    text-align: center;
  }
  .chart {
    height: 125px;

    &.line-chart {
      path {
        stroke: steelblue;
        stroke-width: 1;
        fill: none;
      }

      .axis {
        shape-rendering: crispEdges;
      }

      .x.axis line {
        stroke: lightgrey;
      }

      .x.axis .minor {
        stroke-opacity: .5;
      }

      .x.axis path {
        display: none;
      }

      .y.axis line, .y.axis path {
        fill: none;
        stroke: #000;
      }
    }

    &.bar-chart {

    }

    &.pie-chart {
      .arc path {
        stroke: #fff;
      }
    }
  }
}
