.augur-accuracy {
  .tile {
    .tile-body {
      border: 3px solid #eee;
    }
  }

  .title {
    color: #000000;
    text-align: center;
  }

  .chart {
    d3-line-chart, d3-roc-chart, d3-pie-chart, d3-bar-chart {
      height: 160px;
      width: 100%;
      display: block;
    }

    text {
      font-size: 0.7em;
    }

    .axis {
      shape-rendering: crispEdges;

      &.y path {
        display: none;
      }
    }

    &.line-chart, &.roc-chart {
      path {
        stroke: steelblue;
        stroke-width: 1;
        fill: none;
      }

      path.baseline {
        stroke: red;
        stroke-width: 1;
        fill: none;
      }

      path.helpline {
        stroke: #ddd;
        stroke-width: 1;
        fill: none;
      }
    }

    &.bar-chart {
      .bar {
        fill: steelblue;
      }

      .bar:hover {
        fill: brown;
      }

      .axis path {
        fill: none;
        stroke: #000;
        shape-rendering: crispEdges;
      }

      path.helpline {
        stroke: #ddd;
        stroke-width: 1;
        fill: none;
      }
    }

    &.pie-chart {
      .arc path {
        stroke: #fff;
      }
    }
  }
}
