.augur-accuracy {
  .title {
    padding: 0.3em;
    color: #000000;
    background: #00bfff;
    text-align: center;
  }
  .chart {
    height: 175px;
    width: 260px;

    text {
      font-size: 0.7em;
    }

    &.line-chart, &.roc-chart {
      path {
        stroke: steelblue;
        stroke-width: 1;
        fill: none;
      }

      path.baseline {
        stroke: red;
        stroke-width: 1;
        fill: none;
      }

      .axis {
        shape-rendering: crispEdges;
      }

      .x.axis line {
        stroke: lightgrey;
      }

      .x.axis .minor {
        stroke-opacity: .5;
      }

      .x.axis path {
        fill: none;
        stroke: #000;
      }

      .y.axis line, .y.axis path {
        fill: none;
        stroke: #000;
      }
    }

    &.bar-chart {
      .bar {
        fill: steelblue;
      }

      .bar:hover {
        fill: brown;
      }

      .axis path,
      .axis line {
        fill: none;
        stroke: #000;
        shape-rendering: crispEdges;
      }

      .x.axis path {
        display: none;
      }
    }

    &.pie-chart {
      .arc path {
        stroke: #fff;
      }
    }
  }
}
