@import "vendor/foundation/components/global";

.dashboard {
  &.action-bar {
    ul {
      display: block;
      width: auto;
      overflow: hidden;
      margin: 0;
      height: 50px;

      &.action-bar-filter li {
        label {
          @include radius(5px);
          padding: 3px;
          color: #fff;
          background: #333;

          &:hover {
            color: #ccc;
          }
        }

        &.active label {
          color: #333;
          background: none;

          &:hover {
            color: #fff;
            background: #333;
          }
        }

        input[type=checkbox] {
          display: none;
        }
      }

      li {
        float: left;
        display: inline;
        padding-right: 1em;
        line-height: 50px;

        &.divider {
          border-right: 2px solid #FFFFFF;
          margin-right: 10px;
          height: 999px;
        }

        input {
          margin: 10px 0;
          height: 30px;
        }

        a {
          text-decoration: none;
          color: #333;

          &:hover {
            background: #008cba;
          }
        }
      }
    }
  }

  &.container {
    .tile {
      @include themes(border-color, $isolated: true);

      position: relative;
      border: 1px solid;
      background: #fff;

      min-height: 120px;

      &.habitat {
        @include themes(background, $isolated: true);

        .artefact-body,
        .title {
          color: #fff;
        }
      }

      &.fact-table {
        @include themes(background, $isolated: true, $sub-selector: '.title');

        .title {
          color: #fff;
        }
      }

      &.augur {
        @include themes(color, $isolated: true, $sub-selector: '.title .glyphicon');
        @include themes($light: fill, $isolated: true, $sub-selector: '.area');

        d3-line-chart-dashboard {
          display: block;
          height: 30px;
        }

        .chart {
          position: absolute;
          right: 0;
          bottom: 0;
          left: 0;

          height: 30px;

          .line {
            stroke: #ddd;
            stroke-width: 1;
            fill: none;
          }
        }
      }

      .title {
        margin: 0;
        padding: .2em .35em;
        font-weight: bold;

        .glyphicon {
          position: absolute;
          font-size: 1.5rem;
          top: 5px;
          right: 5px;
        }
      }

      .artefact-body {
        color: #6f6f6f;

        padding: .3em .5em;

        .description {
          font-size: .85em;
        }

        dl {
          dt, dd {
            float: left;
            margin: 0;
          }
          dt {
            clear: left;
            font-weight: bold;
            margin-right: .5em;
            color: #000;
          }
        }

      }
    }
  }
}

