@import "vendor/foundation/components/global";

.dashboard {
  &.action-bar {
    ul {
      display: block;
      width: auto;
      overflow: hidden;
      margin: 0;
      height: 50px;

      &.action-bar-filter li {
        label {
          @include radius(5px);
          padding: 3px;
          color: #fff;
          background: #333;

          &:hover {
            color: #ccc;
          }
        }

        &.active label {
          color: #333;
          background: none;

          &:hover {
            color: #fff;
            background: #333;
          }
        }

        input[type=checkbox] {
          display: none;
        }
      }

      li {
        float: left;
        display: inline;
        padding-right: 1em;
        line-height: 50px;

        &.divider {
          border-right: 2px solid #FFFFFF;
          margin-right: 10px;
          height: 999px;
        }

        input {
          margin: 10px 0;
          height: 30px;
        }

        a {
          text-decoration: none;
          color: #333;

          &:hover {
            background: #008cba;
          }
        }
      }
    }
  }

  &.flash {
    position: absolute;
    top: 2rem;
    left: 0;
    right: 0;

    $flash-transition-time: 1300ms;
    &.ng-leave {
      transition: all $flash-transition-time ease-in;
      transform: translate(0, 0);

      opacity: 1;

      &.ng-leave-active {
        transform: translate(0, 50px);

        opacity: 0;
      }
    }
  }

  &.container {
    .tile {
      @include themes($light30: border-color, $isolated: true);

      position: relative;
      border: 1px solid;
      background: #fff;

      min-height: 120px;

      &.habitat {
        @include themes(background, $isolated: true);

        .artefact-body,
        .title {
          color: #fff;
          .icon {
            top: .4rem;
            right: .4rem;
          }
        }
      }

      &.fact-table {
        @include themes(background, $isolated: true, $sub-selector: '.title');

        .title {
          color: #fff;
          .icon {
            top: .3rem;
            right: .5rem;
          }
        }
      }

      &.augur {
        @include themes($light10: color, $isolated: true, $sub-selector: '.title .icon');
        @include themes($light50: fill, $isolated: true, $sub-selector: '.area');

        d3-line-chart-dashboard {
          display: block;
          height: 30px;
        }

        .chart {
          position: absolute;
          right: 0;
          bottom: 0;
          left: 0;

          height: 30px;

          .line {
            stroke: #ddd;
            stroke-width: 1;
            fill: none;
          }
        }

        .title .icon {
          right: 0rem;
          font-size: 2.5rem;
          position: absolute;
          top: -.5rem;
        }
      }

      .title {
        margin: 0;
        padding: .2em .35em;
        font-weight: bold;

        .icon {
          font-size: 1.3rem;
          position: absolute;
          top: .15rem;
          right: .4rem;
        }
      }

      .artefact-body {
        color: #6f6f6f;

        padding: .3em .5em;

        .description {
          font-size: .85em;
        }

        dl {
          dt, dd {
            float: left;
            margin: 0;
          }
          dt {
            clear: left;
            font-weight: bold;
            margin-right: .5em;
            color: #000;
          }
        }

      }
    }
  }
}

