@import "vendor/foundation/components/global";

.dashboard {
  &.action-bar {
    ul {
      display: block;
      width: auto;
      overflow: hidden;
      margin: 0;
      height: 50px;

      $active-bg: $primary-color !default;
      $active-bg-hover: scale-color($primary-color, $lightness: -14%) !default;

      .glyphicon {
        font-size: 140%;
      }

      &.action-bar-filter li {
        &.active label {
          @include radius(5px);
          background: $active-bg;
          padding: 3px;
          color: #fff;
          &:hover {
            color: #333;
          }
        }

        input[type=checkbox] {
          display: none;
        }
      }

      li {
        float: left;
        display: inline;
        padding-right: 1em;
        line-height: 50px;

        &.divider {
          border-right: 2px solid #FFFFFF;
          margin-right: 10px;
          height: 999px;
        }

        input {
          margin: 10px 0;
          height: 30px;
        }

        a {
          text-decoration: none;
          color: #333;

          &:hover {
            background: #008cba;
          }
        }
      }
    }
  }

  &.container {
    .th {
      padding: 0 0.3em;
      position: relative;

      &.color-scheme-one {
        border: 1px solid $color-scheme-one-dark;
        background: $color-scheme-one-light;
        .title, .glyphicon {
          color: $color-scheme-one-dark;
        }

        &.habitat {
          border-left-width: 16px;
        }
      }

      &.color-scheme-two {
        border: 1px solid $color-scheme-two-dark;
        background: $color-scheme-two-light;
        .title, .glyphicon {
          color: $color-scheme-two-dark;
        }

        &.habitat {
          border-left-width: 16px;
        }

      }

      &.color-scheme-three {
        border: 1px solid $color-scheme-three-dark;
        background: $color-scheme-three-light;
        .title, .glyphicon {
          color: $color-scheme-three-dark;
        }

        &.habitat {
          border-left-width: 16px;
        }

      }
    }

    .artefact-body {
      height: 125px;
      width: 200px;
      color: #6f6f6f;

      .title {

      }

      .description {
        font-size: 75%;
      }

      .glyphicon {
        position: absolute;
        font-size: 240%;
        top: 90px;
        right: 10px;
      }
    }
  }
}
