// purple
$theme-one-color-main: #6C3BB6;
$theme-one-color-light: lighten( $theme-one-color-main, 45 );
$theme-one-color-dark: darken( $theme-one-color-main, 10 );
// light-blue
$theme-two-color-main: #5C9FD2; 
$theme-two-color-light: lighten( $theme-two-color-main, 37 );
$theme-two-color-dark: darken( $theme-two-color-main, 10 );
// orange
$theme-three-color-main: #C2642C; 
$theme-three-color-light: lighten( $theme-three-color-main, 45 );
$theme-three-color-dark: darken( $theme-three-color-main, 10 );
// green
$theme-four-color-main: #5B9D4D; 
$theme-four-color-light: lighten( $theme-four-color-main, 45 );
$theme-four-color-dark: darken( $theme-four-color-main, 10 );

@mixin theme( $name, $main, $light, $dark, $mainProp, $lightProp, $darkProp, $isolated, $sub-selector ) {
  $selector: '[data-theme=#{$name}] & #{$sub-selector}';


  @if $isolated {
    $selector: '&[data-theme=#{$name}] #{$sub-selector}';
  }

  #{$selector} {
    @if $mainProp {
      @each $prop in $mainProp {
        #{$prop}: $main;
      }
    }
    
    @if $lightProp {
      @each $prop in $lightProp {
        #{$prop}: $light;
      }
    }
    
    @if $darkProp {
      @each $prop in $darkProp {
        #{$prop}: $dark;
      }
    }
  }
}

@mixin themes( $main: false, $light: false, $dark: false, $isolated: false, $sub-selector: '' ) {
  @include theme( 'theme-one', $theme-one-color-main, $theme-one-color-light, $theme-one-color-dark, $main, $light, $dark, $isolated, $sub-selector );
  @include theme( 'theme-two', $theme-two-color-main, $theme-two-color-light, $theme-two-color-dark, $main, $light, $dark, $isolated, $sub-selector );
  @include theme( 'theme-three', $theme-three-color-main, $theme-three-color-light, $theme-three-color-dark, $main, $light, $dark, $isolated, $sub-selector );
  @include theme( 'theme-four', $theme-four-color-main, $theme-four-color-light, $theme-four-color-dark, $main, $light, $dark, $isolated, $sub-selector );
}
