$crumb-bg: scale-color($secondary-color, $lightness: 55%) !default;

$color-scheme-one-dark: #5FA4FD;
$color-scheme-one-light: #F6FBFF;
$color-scheme-two-dark: #8542CA;
$color-scheme-two-light: #F5EEFD;
$color-scheme-three-dark: #569535;
$color-scheme-three-light: #FDFFFA;
