.row.augur-accuracy
  .columns.small-12
    %ul.small-block-grid-2.medium-block-grid-3
      %li.tile
        .tile-body
          %a{ ui: { sref: 'augur.accuracy-detail({ chartType: "lift" })' } }
            %h6.title Lift
            .chart.line-chart
              %d3-line-chart{ chart: 'charts.lift' }

      %li.tile
        .tile-body
          %a{ ui: { sref: 'dashboard' } }
            %h6.title Cumulative Lift
            .chart.line-chart
              %d3-line-chart{ chart: 'charts.cumulativeLift' }

      %li.tile
        .tile-body
          %a{ href: '' }
            %h6.title Response
            .chart.line-chart
              %d3-line-chart{ chart: 'charts.response' }

      %li.tile
        .tile-body
          %a{ href: '' }
            %h6.title Cumulative Response
            .chart.line-chart
              %d3-line-chart{ chart: 'charts.cumulativeResponse' }

      %li.tile
        .tile-body
          %a{ href: '' }
            %h6.title Captured Response
            .chart.line-chart
              %d3-line-chart{ chart: 'charts.capturedResponse' }

      %li.tile
        .tile-body
          %a{ href: '' }
            %h6.title Cumulative Captured Response
            .chart.line-chart
              %d3-line-chart{ chart: 'charts.cumulativeCapturedResponse' }

      %li.tile
        .tile-body
          %a{ href: '' }
            %h6.title ROC
            .chart.roc-chart
              %d3-roc-chart{ chart: 'charts.roc' }

      %li.tile
        .tile-body
          %a{ href: '' }
            %h6.title Misclassification
            .chart.pie-chart
              %d3-pie-chart{ chart: 'charts.misclassification', count: 'count', bucket: 'bucket' }

      %li.tile
        .tile-body
          %a{ href: '' }
            %h6.title Distribution of Predicted Values
            .chart.bar-chart
              %d3-bar-chart{ chart: 'charts.predictedValuesDistribution' }
