.schedule-container{ng: {form: 'subForm'}}
  .small-4.columns
    %select{ name: '{{name}}', ng: { model: 'schedule.frequency', options: 'type as type for type in SCHEDULE_TYPES' } }
  .small-8.columns
    .row.hourly{ ng: { if: 'schedule.frequency == "hourly"' } }
      .small-1.columns
        %label.inline at
      .small-3.columns{ ng: { class: '{"error" : subForm.hourlyInput.$error.pattern}' }}
        %input{ type: 'text', required: true, name: 'hourlyInput', id: 'prediction-schedule-hourly-time', ng: { model: 'schedule.minuteOfHour', pattern: '/(^(0?[0-9])|([1-5][0-9]))$/', required: 'schedule.frequency == "hourly"' } }
        %small.error{ ng: { show: 'subForm.hourlyInput.$error.pattern' } } Not a valid time
      .small-8.columns
        %label.inline minutes of the hour

    .row.daily{ ng: { if: 'schedule.frequency == "daily"' } }
      .small-1.columns
        %label.inline at
      .small-6.columns.end{ ng: { class: '{"error" : subForm.timeOfDayInput.$error.pattern}' }}
        %input{ type: 'text', required: true, name: 'timeOfDayInput', id: 'prediction-schedule-daily-time', placeholder: 'e.g. 10:30 am', ng: { model: 'schedule.timeOfDay', pattern: '/^0?((1[012])|([1-9])):[0-5][0-9](\s)?(am|pm|AM|PM)$/', required: 'schedule.frequency == "daily"' } }
        %small.error{ ng: { show: 'subForm.timeOfDayInput.$error.pattern' } } Not a valid time

    .row.weekly{ ng: { if: 'schedule.frequency == "weekly"' } }
      .small-6.columns
        %select{ name: 'prediction-schedule-weekly-day', ng: { model: 'schedule.dayOfWeek',  options: 'day.key as day.label for day in DAYS_OF_WEEK' } }
      .small-6.columns{ ng: { class: '{"error" : subForm.weeklyTimeOfDayInput.$error.pattern}' }}
        %input{ type: 'text', required: true, name: 'weeklyTimeOfDayInput', id: 'prediction-schedule-weekly-time', placeholder: 'e.g. 10:30 am', ng: { model: 'schedule.timeOfDay', pattern: '/^0?((1[012])|([1-9])):[0-5][0-9](\s)?(am|pm|AM|PM)$/', required: 'schedule.frequency == "weekly"' } }
        %small.error{ ng: { show: 'subForm.weeklyTimeOfDayInput.$error.pattern' } } Not a valid time

    .row.monthly{ ng: { if: 'schedule.frequency == "monthly"' } }
      .small-6.columns
        %select{ name: 'prediction-schedule-monthly-day', ng: { model: 'schedule.dayOfMonth', options: 'day.key as day.label for day in DAYS_IN_MONTH' } }
      .small-6.columns{ ng: { class: '{"error" : subForm.monthlyTimeOfDayInput.$error.pattern}' }}
        %input{ type: 'text', required: true, name: 'monthlyTimeOfDayInput', id: 'prediction-schedule-monthly-time', placeholder: 'e.g. 10:30 am', ng: { model: 'schedule.timeOfDay', pattern: '/^0?((1[012])|([1-9])):[0-5][0-9](\s)?(am|pm|AM|PM)$/', required: 'schedule.frequency == "monthly"' } }
        %small.error{ ng: { show: 'subForm.monthlyTimeOfDayInput.$error.pattern' } } Not a valid time
