.row.settings
  .small-4.columns
    .prediction
      %h6.title Prediction Schedule
      .content
        %p.description
          Set your prediction schedule here. Please note that calculating predictions may take some time.
          You can start predictions manually too.
        .row
          .small-12.columns
            %label.main-label Select schedule
        .row
          %augur-scheduler{ schedule: 'augur.prediction.schedule', form: 'form', prefix: 'predictionSchedule' }
  .small-4.columns
    .evaluation
      %h6.title Evaluation Schedule
      .content
        %p.description
          Set your evaluation schedule here. Automatic learning is based on evaluation results.
        .row
          .small-12.columns
            %label.main-label Select schedule
        .row
          %augur-scheduler{ schedule: 'augur.evaluation.schedule', form: 'form', prefix: 'predictionSchedule' }
  .small-4.columns
    .learning
      %h6.title Automatic Learning
      .content
        %p.description
          Choose your key performance indicator (KPI) from the list of available indicators
          and set the threshold that triggers automatic learning.
        .row
          .small-12.columns
            %label.main-label Choose KPI and set threshold
        .row
          .small-6.columns
            %select{ name: 'learning-kpi', ng: { model: 'augur.learning.kpi', options: 'indicator as indicator.label for indicator in KEY_PERFORMANCE_INDICATORS' } }
          .small-6.columns{ ng: { show: 'augur.learning.kpi.key' }}
            .row
              .small-6.columns#comparator
                %label.inline{ for: 'learning-threshold' }
                  %span{ ng: { if: 'augur.learning.kpi.comparator == "lt"'} } less than
                  %span{ ng: { if: 'augur.learning.kpi.comparator == "gt"'} } greater than
              .small-6.columns
                %input{ name: 'learningThreshold', type: 'text', id: 'learning-threshold', ng: { model: 'augur.learning.threshold' }, 'threshold-in-range' => '', min: '{{augur.learning.kpi.min}}', max: '{{augur.learning.kpi.max}}' }
        .row
          .small-12.columns{ ng: { class: '{"error" : form.learningThreshold.$error.thresholdInRange}' } }
            %small.error{ ng: { show: 'form.learningThreshold.$error.thresholdInRange' } } Value not in range. Min: {{augur.learning.kpi.min}}, Max: {{augur.learning.kpi.max}}
