.chart-row
  .large-2.columns.slider-container
    Weakest Links
    %input.slider#link-filter{type:'range', orient:'vertical', list:'steps'}
    Strongest Links
    %datalist#steps
  .large-10.columns.chart-container
